@import "styles/fonts";
@import "styles/mixins";
@import "styles/variables";

.crews {
  width: 100%;
  height: 1200px;
  background-image: url(../../public/assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-position: center;

  @include respondMax(mobile) {
    background-image: url(../../public/assets/crew/background-crew-mobile.jpg);
  }

  .meet_text {
    position: absolute;
    @include flex(center, space-around, row);
    width: 20%;
    height: 40px;
    left: 150px;
    top: 212px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.27px;
    color: #ffffff;
    text-transform: uppercase;

    @include respondMax(sm-desktop) {
      top: 150px;
      width: 40%;
      left: 30%;
    }

    @include respondMax(mobile) {
      width: 70%;
      height: 40px;
      left: 15%;
      top: 100px;
      font-size: 0.8em;
    }

    span {
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
    }
  }

  .crew_personnel {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 800px;
    top: 300px;

    @include respondMax(sm-desktop) {
      height: 800px;
      top: 200px;
      @include flex(center, space-around, column);
    }

    @include respondMax(mobile) {
      height: auto;
      top: 170px;
      @include flex(center, space-around, column);
    }

    .personnel_info {
      width: 100%;
      height: 80%;
      margin: 10px auto 0;
      padding: 10px;
      @include flex(center, space-between, row);
      box-sizing: border-box;

      @include respondMax(sm-desktop) {
        margin: auto;
        height: 80%;
        @include flex(center, space-between, column-reverse);
      }

      @include respondMax(mobile) {
        height: 800px;
        @include flex(center, space-between, column-reverse);
      }

      img {
        width: 468px;
        height: 612px;

        @include respondMax(sm-desktop) {
          width: 200px;
          height: 300px;
        }

        @include respondMax(mobile) {
          width: 200px;
          height: 300px;
          border-bottom: 1px solid #383b4b;
        }
      }

      .info_text {
        @include flex(left, space-around, column);
        color: white;
        width: 50%;
        height: 60%;

        @include respondMax(sm-desktop) {
          width: 90%;
          @include flex(center, space-around, column);
        }

        @include respondMax(mobile) {
          position: relative;
          top: -20px;
          @include flex(center, space-around, column);
          width: 100%;
          height: 40%;
        }

        .name_role {
          @include flex(left, space-evenly, column);
          color: white;
          width: 100%;
          height: 50%;

          @include respondMax(sm-desktop) {
            @include flex(center, center, column);
          }

          @include respondMax(mobile) {
            height: 40%;
            width: 100%;
            height: 40%;
            text-align: center;
          }

          span {
            &:first-of-type {
              font-family: "Bellefair", serif;
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              text-transform: uppercase;
              color: #ffffff;
              mix-blend-mode: normal;
              opacity: 0.5;

              @include respondMax(sm-desktop) {
                text-align: center;
                width: 80%;
                font-size: 1.8em;
              }

              @include respondMax(mobile) {
                font-size: 1em;
              }
            }

            &:last-of-type {
              font-family: "Bellefair";
              font-style: normal;
              font-weight: 400;
              font-size: 56px;
              line-height: 64px;
              text-transform: uppercase;
              color: #ffffff;

              @include respondMax(sm-desktop) {
                text-align: center;
                width: 90%;
                font-size: 3.2em;
              }

              @include respondMax(mobile) {
                font-size: 1.5em;
              }
            }
          }
        }
        span.bio {
          width: 80%;
          font-family: "Barlow";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          color: $textColor1;

          @include respondMax(sm-desktop) {
            width: 90%;
            font-size: 1em;
            line-height: 1.5em;
            text-align: center;
          }
        }
      }
    }

    .slider_container {
      position: absolute;
      width: 200px;
      height: 30px;
      left: 100px;
      top: 600px;
      height: 40px;
      @include flex(center, space-evenly, row);
      margin: 10px auto 0;

      @include respondMax(sm-desktop) {
        top: 65%;
        width: 30%;
        left: 35%;
      }

      @include respondMax(mobile) {
        width: 40%;
        height: 20px;
        left: 30%;
        top: 390px;
      }

      span {
        width: 15px;
        height: 15px;
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.17;
        border-radius: 50%;
        cursor: pointer;
        transition: 300ms ease-in-out;

        @include respondMax(mobile) {
          width: 12px;
          height: 12px;
        }

        &.active_btn {
          background: white;
          opacity: 1;
          transition: 300ms ease-in-out;
        }

        &:hover {
          background: white;
        }
      }
    }
  }
}
