@font-face {
  font-family: "Barlow Condensed";
  src: url("../public/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

@font-face {
  font-family: "Bellefair";
  src: url("..//public/fonts/Bellefair/Bellefair-Regular.ttf");
}
