@import "fonts";
@import "colors";

@media screen and (max-width: 425px) {
  nav {
    position: absolute;
    width: 90%;
    height: 80px;
    left: 5%;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
      display: none;
    }

    .hamburger {
      background-color: transparent;
      outline: none;
      padding: 5px;
      transform: translate(0px, 0px);
      box-sizing: border-box;
      transition: transform 0.5s;
      cursor: pointer;

      span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 5px 0 5px 0;
        border-radius: 4px;
        transition: transform 0.5s;
        opacity: 0.8;
      }
      &.active {
        background-color: transparent;
        outline: none;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
        transform: translate(-60px, -30px);
        transition: transform 0.5s;
        z-index: 7;
        span {
          z-index: 5;
          &:first-of-type {
            transform: translate(1px, 6px) rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:last-of-type {
            transform: translate(0px, -8px) rotate(-45deg);
          }
        }
      }
    }

    .hamburger-menu {
      position: absolute;
      left: 19px;
      top: 32px;
      height: 10px;
      width: 10px;
      border: none;
      border-radius: 50%;
      transition: all 0.5s linear;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
      a {
        display: none;
      }

      &_active {
        position: absolute;
        left: -6%;
        top: -20px;
        height: 70vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translatY(0);
        transition: all 0.5s linear;
        background-color: black;
        box-sizing: border-box;
        color: white;
        opacity: 0.8;
        z-index: 5;

        a {
          position: relative;
          width: max-content;
          height: max-content;
          color: white;
          text-decoration: none;
          font-family: "Barlow Condensed", sans-serif;
          font-size: 16px;
          padding: 5px;
          display: grid;
          place-items: center;
          letter-spacing: 2.7px;
          box-sizing: border-box;
          text-transform: capitalize;
          cursor: pointer;

          &::after {
            position: absolute;
            content: "";
            background: white;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 0%;
            transition: 300ms ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
          &.active-tab {
            &::after {
              position: absolute;
              content: "";
              background: white;
              bottom: 0;
              right: 0;
              height: 2px;
              width: 100%;
              transition: 300ms ease-in-out;
            }
            &:hover::after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }

    .tab {
      display: none;

      a {
        display: none;
        position: relative;
        width: max-content;
        height: 90%;
        color: white;
        text-decoration: none;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        padding: 5px;
        display: grid;
        place-items: center;
        letter-spacing: 2.7px;
        box-sizing: border-box;
        text-transform: capitalize;
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          background: white;
          bottom: 0;
          right: 0;
          height: 2px;
          width: 0%;
          transition: 300ms ease-in-out;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
        &.active-tab {
          &::after {
            position: absolute;
            content: "";
            background: white;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            transition: 300ms ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  * {
    margin: 0;
    padding: 0;
  }
  nav {
    position: absolute;
    width: 95%;
    height: 96px;
    left: 5%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
      display: none;
    }
    .hamburger {
      display: none;
    }
    .hamburger-menu {
      display: none;
    }

    .tab {
      height: 90%;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);

      a {
        position: relative;
        width: max-content;
        height: 90%;
        color: white;
        text-decoration: none;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 12px;
        padding: 5px;
        display: grid;
        place-items: center;
        letter-spacing: 2.7px;
        box-sizing: border-box;
        text-transform: capitalize;
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          background: white;
          bottom: 0;
          right: 0;
          height: 2px;
          width: 0%;
          transition: 300ms ease-in-out;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
        &.active-tab {
          &::after {
            position: absolute;
            content: "";
            background: white;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            transition: 300ms ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  nav {
    position: absolute;
    width: 95%;
    height: 96px;
    left: 5%;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    hr {
      position: absolute;
      height: 1px;
      mix-blend-mode: normal;
      opacity: 0.25;
      width: 473px;
      height: 1px;
      left: 80px;
      top: 46px;
      background: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.25;
      z-index: 5;
    }

    .hamburger {
      display: none;
    }
    .hamburger-menu {
      display: none;
    }

    .tab {
      height: 90%;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);

      a {
        position: relative;
        width: max-content;
        height: 90%;
        color: white;
        text-decoration: none;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        padding: 5px;
        display: grid;
        place-items: center;
        letter-spacing: 2.7px;
        box-sizing: border-box;
        text-transform: capitalize;
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          background: white;
          bottom: 0;
          right: 0;
          height: 2px;
          width: 0%;
          transition: 300ms ease-in-out;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
        &.active-tab {
          &::after {
            position: absolute;
            content: "";
            background: white;
            bottom: 0;
            right: 0;
            height: 2px;
            width: 100%;
            transition: 300ms ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
