@import "styles/fonts";
@import "styles/mixins";
@import "styles/variables";

.landing {
  height: 1200px;
  width: 100%;
  background-image: url(../public/assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;

  @include respondMax(mobile) {
    background-image: url(../public/assets/home/background-home-mobile.jpg);
  }

  &_text {
    position: absolute;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 387px;
    @include flex(left, space-between, column);
    color: white;

    @include respondMax(mobile) {
      width: 90%;
      height: 350px;
      margin: 0 auto;
      top: 150px;
      left: 5%;
      @include flex(center, space-between, column);
      font-size: 16px;
    }

    span {
      color: $textColor1;

      @include respondMax(mobile) {
        text-align: center;
      }

      &:first-of-type {
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 28px;
        word-spacing: 4.75px;

        @include respondMax(mobile) {
          font-size: 1em;
          word-spacing: 2.7px;
        }
      }
      &:nth-of-type(2n) {
        text-transform: uppercase;
        font-family: "Bellefair", serif;
        font-size: 150px;
        color: #ffffff;

        @include respondMax(mobile) {
          font-size: 5.5em;
        }
      }

      &:last-of-type {
        font-family: "Barlow Condensed", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;

        @include respondMax(mobile) {
          font-size: 1em;
          line-height: 28px;
        }
      }
    }
  }

  .button {
    position: absolute;
    width: 274px;
    height: 274px;
    left: 1001px;
    top: 495px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-family: "Bellefair", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0b0d17;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease-in-out;

    @include respondMax(mobile) {
      width: 150px;
      height: 150px;
      left: 30%;
      top: 600px;
      font-size: 1.5em;
      text-align: center;
      line-height: 37px;
      letter-spacing: 2px;
    }

    &:hover {
      box-shadow: 0px 0px 0px 50px rgb(255, 255, 255, 0.25);
    }
  }
}
